[user]
	name = nosami
	email = jasonimison@gmail.com
[color]
	ui = auto
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
[alias]
    co = checkout
    st = status
    br = branch
    l = log -1
    sm = submodule update --init --recursive
[push]
	default = simple
[url "git@github.com:fsharp/xamarin-monodevelop-fsharp-addin.git"]
    pushInsteadOf = git://github.com/fsharp/xamarin-monodevelop-fsharp-addin.git
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	pager = delta
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
